<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>412729455133-8284of0dasm573lvdjkr36njlk4t7aiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412729455133-8284of0dasm573lvdjkr36njlk4t7aiv</string>
	<key>API_KEY</key>
	<string>AIzaSyCNunq1uxzRczYZUYSWMSuOzRy9nYTWckk</string>
	<key>GCM_SENDER_ID</key>
	<string>412729455133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LakshaySharma.UGANutrition</string>
	<key>PROJECT_ID</key>
	<string>todoapp-7cea9</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-7cea9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:412729455133:ios:8bfc8fce1e9f31b4</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-7cea9.firebaseio.com</string>
</dict>
</plist>